body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    background: #222;
    color: white;
    padding: 0.5em 1em;
}

h1 {
    font-size: 100%;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-grow: 1;
}

#peers, #messages {
    padding: 1em;
    margin: 0;
    box-sizing: border-box;
    min-height: 100%;
}

#peers {
    border-right: 1px solid #ccc;
    width: 20%;
}

#peers ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#peers li {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0.5em;
    cursor: pointer;
    white-space: nowrap;
}

#peers li::before {
    content: '👤 ';
}

#peers .active {
    background: #ccf;
}

#mesages {
    width: 80%;
}

h2 {
    font-size: 120%;
    font-weight: bold;
}
